
@using ODHDEVELOPERS.Models;
@{
    ViewBag.Title = "PossessionReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);

}

<link rel="stylesheet" href="~/Content/jquery-ui.css" />
<script type="text/javascript">
    $(document).ready(function () {
        $("#newbond").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Branch/AutoCompleteBondId",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.newbondid };


                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>

<!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link href="~/assets/css1/main css/Forms.css" rel="stylesheet" />

<div class="container mt-5">
    <h2 class="text-center mb-4 create-title">

        Print Possession Letter
    </h2>

    @using (Html.BeginForm("PossessionReport", "Admin", FormMethod.Post))
    {

        <div id="paymentForm" class="form-container">

            <!-- Associate ID -->
            <div class="form-group">
                <label for="associateId" class="form-label">@mr.custname Id :</label>
                <input type="text" class="form-control" id="newbond"  name="newbondid" placeholder="Enter ID" required>
            </div>



            <!-- Submit Button -->
            <div class="text-center d-grid gap-2">
                <button type="submit" class="btn create-btn" onclick="target='_blank'">Print Possession Letter</button>
            </div>
        </div>
    }
    </div>





















