
@using ODHDEVELOPERS.Models;
@{
    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "ResetBranch";
}

<link href="~/assets/css1/main css/Forms.css" rel="stylesheet" />

<div class="container mt-5">
    <!-- Title -->
    <h2 class="text-center create-title">Reset Panel-Wise Password</h2>

    @using (Html.BeginForm())
    {
        <!-- Form -->
        <div id="resetPanelPasswordForm" class="form-container">


            <!-- Branch -->
            <div class="form-group">
                <label for="branch" class="form-label">Select Pannel</label>
                <select class="form-control" id="type" name="type" required>
                    <option disabled="disabled">Select</option>
                    <option value="Branch">@mr.branchname</option>
                    <option>Collection Point</option>
                    <option>HR</option>

                </select>
            </div>

            <!-- Submit Button -->
            <div class="text-center">
                <button type="submit" class="btn create-btn"><i class="fa fa-cog"></i>Reset Password</button>
            </div>
        </div>
        <div>&nbsp;@ViewBag.msg</div>
    }
</div>


