
@using ODHDEVELOPERS.Models;
@{
    UsersContext db = new UsersContext();
    var br = db.CompanyInfos.Single(b => b.AdminId == User.Identity.Name);
    var logo = string.Empty;
    var companyname = string.Empty;
    var incometype = string.Empty;
    var mr = db.Members.Single(m => m.Id == 1);
    var r = db.CompanyInfos.Single(ci => ci.AdminId == User.Identity.Name);


    logo = r.CompanyLogo;
    companyname = r.CompanyName;
    incometype = r.IncomeType;
    ViewBag.Title = "Website";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<link href="~/assets/css1/main css/Pages.css" rel="stylesheet" />

<link href="~/assets/css1/main css/Registry.css" rel="stylesheet" />

<!-- Section 1: Final Report -->
<div class="section">
    


    <div class="w-100 card-heading">
        <h3 class="text-center text-white pt-2 pb-2">Website</h3>
    </div>

    <!-- Main Container -->
    <div class="container mt-5">
        <!-- First Row (Centered Cards with Responsive Behavior) -->
        <div class="centered-row">
            <!-- Card 1 (Plot Registry) -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
                <a href="~/Admin/Achievers" class="custom-card text-center h-100">
                    <div class="card-body">

                        <img class="imageSize" src="~/images/logo/Website_logo/achivement.png" />

                        <h6 class="card-title mt-3">Add Achievers</h6>
                    </div>
                </a>
            </div>
            <!-- Card 2 (Pre Surrender) -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
                <a href="~/Admin/banner_upload" class="custom-card text-center h-100">
                    <div class="card-body">

                        <img class="imageSize" src="~/images/logo/Website_logo/advertising.png" />



                        <h6 class="card-title mt-3">Add Banner</h6>
                    </div>
                </a>
            </div>
            <!-- Card 1 (Plot Registry) -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
                <a href="~/Admin/upload_video" class="custom-card text-center h-100">
                    <div class="card-body">

                        <img class="imageSize" src="~/images/logo/Website_logo/video.png" />

                        <h6 class="card-title mt-3">Upload Vedio</h6>
                    </div>
                </a>
            </div>
            <!-- Card 2 (Pre Surrender) -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
                <a href="~/Admin/Media_Centre" class="custom-card text-center h-100">
                    <div class="card-body">


                        <img class="imageSize" src="~/images/logo/Website_logo/gallery.png" />
                        <h6 class="card-title mt-3">Upload Gallery</h6>
                    </div>
                </a>
            </div>

        </div>
    </div>






