@using ODHDEVELOPERS.Models
@{
    ViewBag.Title = "ChangeCredential";
    Layout = "~/Views/Shared/_LayoutVisitor.cshtml";
    UsersContext db = new UsersContext();
    var date = DateTime.Now.Date;
    var a = 1;
    
}

<link href="~/Content/datepicker/jquery.datepick.css" rel="stylesheet" />
<script src="~/Content/datepicker/jquery.plugin.js"></script>
<script src="~/Content/datepicker/jquery.datepick.js"></script>

<script>
    $(function () {

        window.onload = function () {
            document.onkeydown = function (e) {
                return (e.which || e.keyCode) != 116;

            };
            if ($("#hidden").val() != "") {
                var x = document.getElementById("snackbar");
                x.className = "show";
                x.innerHTML = $("#hidden").val();
                setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
            }
        }
        $('.date').datepick();

        function Time() {


            var a = new Date();
            var b = a.getHours();
            if (a.getHours() > 12) {
                b = a.getHours() - 12;
            }

            var t = b + ":" + a.getMinutes() + ":" + a.getSeconds();
            $("#time").html(t);

        }

        setInterval(Time, 1000);

        

    });
</script>

<link rel="stylesheet" href="~/Content/jquery-ui.css" />
<script type="text/javascript" src="~/Scripts/autosearch.js"></script>
<style>
    #snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
   However, delay the fade out process for 2.5 seconds */
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

    .badge {
        background-color: #2f9fe0;
    }
</style>
<div class="page-content">
    <input type="hidden" id="hidden" value="@ViewBag.msg" />
    <div class="container">
        <div class="page-toolbar">

            <div class="page-toolbar-block">
                <div class="page-toolbar-title">Change Password</div>
                <span style="color: #808080"><i class="	fa fa-hand-o-right" style="font-size: 17px; color: red;"></i>&nbsp;&nbsp;Enter your <kbd style="font-size: 15px; background-color: #8eb252">&nbsp;Current Password&nbsp;</kbd> Then re-enter your desired <kbd style="font-size: 15px; background-color: #2f9fe0">&nbsp;password&nbsp;</kbd> twice...</span>
            </div>

            <div class="page-toolbar-block pull-right">
                <span style="color: #C21148; font-size: 15px">Today's Date :</span> &nbsp;<span class="badge">@DateTime.Now.Date.ToString("dd-MM-yyyy")</span>
                &nbsp;&nbsp;<span style="color: #C21148; font-size: 15px;">Time :</span>&nbsp;<span class="badge" style="margin-right: 100px" id="time"></span>

            </div>

        </div>

        <div class="row" style="width: 100%; position: relative; top: 50px; left: 50px;">

            <div class="row-form">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <!---->
                </div>
                <div class="col-md-4"></div>

            </div>
        </div>

       
            @using (Html.BeginForm())
            {
                <div class="container">
                    <br />
                    <br /><br />
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4" style="background-color:white;border-radius:2%;"><br />
                            <img src="~/Photo/user.png" style="width: 25%;position:relative;left:140px;" />
                            <div style="padding-bottom:30px;">
                            <label>Current Password</label>
                            <div>
                                <input type="password" value="" class="form-control" name="last" placeholder="Current Password">
                            </div>
                            <label>New Password</label>
                            <div>
                                <input type="password" value="" class="form-control" name="newpass" placeholder="New Password">
                            </div>
                            <label>Confirm Password</label>
                            <div>
                                <input type="password" value="" class="form-control" name="confirm" placeholder="Confirm Password">
                            </div>
                                </div>
                            <button type="submit" class="btn btn-success center-block" ><b>Change Password</b></button>
                            <br />

                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>   
                                         
            }
       


        <!----List of todays visitor--->



    </div>
</div>
<div id="snackbar"></div>

<!-------Modal------->
<div id="myModal" style="margin-top: 150px; border: 0px;" class="modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <form method="post" action="/operator/AgentVehicleRequest">
            <div class="modal-content" style="border: 0px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style="color: #2f9fe0;">&times;</button>
                    <h4 class="modal-title" style="color: #2f9fe0;">Remark...</h4>
                </div>
                <div class="modal-body">

                    <label>Visitor Id</label>
                    <input type="text" style="color: #2f9fe0;" name="visitorid" id="vid" class="form-control" readonly="true" />

                    <label>Visitor Name</label>
                    <input type="text" style="color: #2f9fe0;" id="vname" class="form-control" readonly="true" />

                    <label>Remark</label>
                    <textarea name="remark" class="form-control" required></textarea>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" style="background-color: #2f9fe0; color: white;">Close</button>
                    <button type="submit" class="btn btn-warning pull-right bg-warning" style="background-color: #2f9fe0; color: white;">Save Remark</button>
                </div>
            </div>
        </form>
    </div>
</div>
@if (ViewBag.msg != "" && ViewBag.msg != null)
{ 
    <script>
        (function myFunction() {
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
        })();

    </script>      
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#submit').click(function () {
            @Html.ValidationSummary(true)
        });
    });



</script>


