@using ODHDEVELOPERS.Models;
@{
    Layout = "~/Views/Shared/_OperatorLayout.cshtml";
    ViewBag.Title = "DuplicateBond";
    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#newbond").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Operator/AutoCompleteBWBondid",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.newbondid };


                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>

<link href="~/assets/css1/main css/Forms.css" rel="stylesheet" />




<div class="container mt-5">
    <h2 class="text-center mb-4 create-title">Duplicate @mr.custname Report</h2>

    @using (Html.BeginForm())
    {
        <div id="branchForm" class="form-container">
            <!-- Collection Point Name -->
            <div class="form-group">
                <label for="collectionPointName" class="form-label">Enter @mr.custname Id :</label>
                <input type="text" class="form-control " id="newbond" name="newbond" placeholder="Enter Id" required>
            </div>


            <!-- Create Button -->
            <div class="text-center d-grid gap-2">
                <button type="submit" class="btn create-btn" onclick="target='_blank'"><i class="fa fa-cog"></i>Get Bond</button>
            </div>


            </div>




            }
    </div>