body {
      
}
  .width {
        width:120px;
        height:7px;
        margin-left:-5px;
        font-size:12px;
        font-family:initial;
        text-align:left;
        font-weight:500;
    } 
  