body {
      
}
  .width {
        width:135px;
        height:8px;
        margin-left:-5px;
        font-size:12px;
        font-family:initial;
        text-align:left;
    } 
  .width2 {
        width:170px;
        height:7px;
        margin-left:-5px;
        font-size:12px;
        font-family:initial;
        text-align:left;
       
    } 