@using ODHDEVELOPERS.Models;
@using System;
@{
    ViewBag.Title = "AgentWelcomeLetter";
    Layout = "~/Views/Shared/_BranchLayout.cshtml";
 }

<script>
    $(function () {
        $('[name=AgentId]').autocomplete({            
            source: function (request, response) {
                debugger;
                $.ajax({
                    url: "/Admin/AgentWelcomeLetter",
                    type: "Get",
                    datatype: "JSON",
                    data: { AgentId: request.term ,Recogniser:"Print"},
                    success: function (data) {
                        debugger;
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.NewAgentId }                           
                        }));
                    }
                });
            }
        });

        $("#btn").on("click", function (e) {
           
           // window.open("");

        });

    });
        
</script>

<div class="container mt-5 FormContainer">
    <h2 class="text-center mb-4">Agent Welcome Letter</h2>
    <form action="/Branch/AgentWelcomeLetter" method="post" target="_blank" class="border p-4 rounded shadow formtag">

        <!-- Project Year -->
        <div class="mb-3">
            <label for="year" class="form-label formLabel">Enter The Agent Id:</label>
            <input type="text" name="AgentId" class="form-control formInput" />
        </div>

        <!-- Create Button -->
        <div class="text-center d-grid gap-2">
            <button id="btn" type="submit" class="btn btn-lg formButtom" >Print Welcome Letter</button>          
        </div>
    </form>
</div>






