@using ODHDEVELOPERS.Models;
@{
    Layout = "~/Views/Shared/_BranchLayout.cshtml";
    ViewBag.Title = "AgreementForm";

    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#newbondid").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Branch/AutoCompleteBondId",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.newbondid };

                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>

@using(Html.BeginForm())
{
    <div class="page-content">

        <div class="container">
            <div class="page-toolbar">

                <div class="page-toolbar-block">
                    <div class="page-toolbar-title">Agreement Form</div>
                    <div class="page-toolbar-subtitle"></div>
                </div>

                <div class="page-toolbar-block pull-right">
                </div>

            </div>
            <div class="row" style="width: 100%">
                <div class="col-md-6" style="width: 100%">

                    <div class="block" style="width: 100%">
                        <div class="block-content controls">

                            <div class="row-form">

                                <div class="col-md-9">

                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon">@mr.custname Id :</span>
                                        <input type="text" class="form-control" id="newbondid" name="newbondid" />
                                    </div>


                                </div>
                            </div>



                            <div class="page-toolbar-block pull-right">
                                <div class="widget-info widget-from">

                                    <button type="submit" class="btn btn-primary" onclick="target='_blank'">Print Agreement Form</button>

                                </div>
                            </div>





                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
}