@model IEnumerable<ODHDEVELOPERS.Models.Member_tab>
@using ODHDEVELOPERS.Models
@{
    Layout = "~/Views/Shared/_BranchLayout.cshtml";
    ViewBag.Title = "Bond";

    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);
    var plan1 = db.Plans.Single(p1 => p1.Plancode == 1);
    var plan2 = db.Plans.Single(p2 => p2.Plancode == 2);
    var plan3 = db.Plans.Single(p3 => p3.Plancode == 3);
    var plan4 = db.Plans.Single(p4 => p4.Plancode == 4);
    var tr = db.TDSLF_tabs.Single(f => f.Id == 1);
    var a = 0;


    string todate = DateTime.Now.ToShortDateString();
    var ap = db.Formdates.Single(c => c.Id == 1);
    var dt = DateTime.Now.Date;
    
    
}

<link href="~/Content/datepicker/jquery.datepick.css" rel="stylesheet" />
<script src="~/Content/datepicker/jquery.plugin.js"></script>
<script src="~/Content/datepicker/jquery.datepick.js"></script>
<script>
    $(function () {
        $('#date').datepick();

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('input[type="radio"]').click(function () {

            if ($(this).attr("value") == "Cash") {
                $("#cash").show();
                $("#DD").hide();
                $("#Cheque").hide();
            }
            if ($(this).attr("value") == "DD") {
                $("#DD").show();
                $("#cash").hide();
                $("#Cheque").hide();
            }
            if ($(this).attr("value") == "Cheque") {
                $("#DD").hide();
                $("#cash").hide();
                $("#Cheque").show();
            }


        });
    });
</script>

<div class="page-content">

                <div class="container">

<div class="page-toolbar">
                        
                        <div class="page-toolbar-block">
                            <div class="page-toolbar-title">Pay Method</div>
                            <div class="page-toolbar-subtitle"></div>
                        </div>
                        
                      

                    </div>

                    <div class="row" >
               @using (Html.BeginForm("PaymethodMaturity", "Branch", FormMethod.Post, new { enctype = "multipart/form-data" }))
               {       
                   <input type="hidden" id="status" value="@ap.status" />
                     <div class="col-md-6" style="width:100%">
                            
                            
                            </div>
                   
                  <div class="col-md-6">
               <div class="block">
                                <div class="block-content">
                                    <h2><strong>Payment Details</strong> </h2>
                                   
                                </div>
                                <div class="block-content controls">
                                    
                                     <div class="row-form">
                                       
                                        <div class="col-md-9"><div class="input-group">
       <span class="input-group-addon"><label class="width">Payment Mode </label></span>  
                                            
                                             <input type="radio" name="paymethod" value="Cash" checked > Cash   
                                            @* <input type="radio" name="paymethod" value="DD" > DD  *@
                                          <input type="radio" name="paymethod" value="Cheque" > Cheque  


                                        </div>
                                            </div>
                                    </div>
                                    <div  id="cash" >

                                        <div class="row-form">
                                       
                                        <div class="col-md-9">
                                            
                                            <div class="input-group">
                                    <span class="input-group-addon"><label class="width">Payment Date</label></span>
                                   <input type="text" id="pdate" name="pdate" class="form-control" readonly="true" value="@dt" required />
                                            </div>

                                            </div>
                                    </div>

                                     </div>
                                    
                                     @*<div  id="DD" style="display: none;">
                                        <div class="row-form">
                                       
                                        <div class="col-md-9">
                                            
                                            <div class="input-group">
                                    <span class="input-group-addon"><label class="width">Payment Date</label></span>
                                   <input type="text" id="pdate2" name="pdate" class="form-control" readonly="true" value="@dt" required />
                                            </div>

                                            </div>
                                    </div>

                                         <div class="row-form">
                                      
                                        <div class="col-md-9">
                                            <div class="input-group">
       <span class="input-group-addon"><label class="width">DD No. </label></span>  
                                           <input type="text" id="checkorddno" name="checkorddno"  class="form-control" /></div>
                                    </div>
                                         </div>
                                         
                                         <div class="row-form">
                                      
                                        <div class="col-md-9">
                                            <div class="input-group">
       <span class="input-group-addon"><label class="width">Bank Name</label></span>  
                                         <input type="text" id="branchpay" name="branchpay" class="form-control" /></div>
                                    </div>
                                         </div>

                                      </div>*@
                                     
                                     <div  id="Cheque" style="display: none;">
                                        <div class="row-form">
                                       
                                        <div class="col-md-9">
                                            
                                            <div class="input-group">
                                    <span class="input-group-addon"><label class="width">Cheque Date</label></span>
                                   <input type="text" id="date" name="chequedate" class="form-control"  value="@dt" required />
                                            </div>

                                            </div>
                                    </div>

                                         <div class="row-form">
                                      
                                        <div class="col-md-9">
                                            <div class="input-group">
       <span class="input-group-addon"><label class="width">Cheque No. </label></span>  
                                           <input type="text" id="checkorddno1" name="checkorddno"  class="form-control" /></div>
                                    </div>
                                         </div>
                                         
                                         <div class="row-form">
                                      
                                        <div class="col-md-9">
                                            <div class="input-group">
       <span class="input-group-addon"><label class="width">Branch Payble At</label></span>  
                                         <input type="text" id="branchpay2" name="branchpay" class="form-control" /></div>
                                    </div>
                                         </div>

                                      </div>
                                </div>
                            </div>

                          </div>
                   
                  <div class="col-md-6" style="width:100%">
                            
                            <div class="block" >
                               
                                <div class="block-content controls">
                                  
                                     
                                       <div style="margin-left:46%;">
                            <div class="widget-info widget-from" >
                                                          
                                <button id="submit"  value="Submit" type="submit" name="command" class="btn btn-primary" onclick="return confirm('Are you sure ?')">Submit</button> 
                                
                                
                                           
                            </div>
                                         
                        </div>  
                                    
                                </div>
                                
                            </div>
                                      
                            </div>
              
               }
               
 </div>
          
                    </div>
    </div>
                  
          