@{
    ViewBag.Title = "Companyprofile";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<section class="page-title" style="background-image: url(/assets/images/background/bg-page-title.jpg);">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Title -->
            <div class="title-column col-md-7 col-sm-6 col-xs-12">
                <h1>Company Profile</h1>
            </div>
            <!--Bread Crumb -->
            <div class="breadcrumb-column col-md-5 col-sm-6 col-xs-12">
                <ul class="bread-crumb clearfix">
                     <li><a href="../Home/Index">Home</a></li>
                    <li class="active">Company Profile</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<br />
<section class="two-col-fluid"> 
    <div class="auto-container">
        <div class="row clearfix">
            <!--Right Column-->
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 right-column">
                <div class="inner-box">                   
                    <h2 class="text-center"><strong>WHO WE ARE</strong></h2>
                    <div class="text">
                        <p >Incepted in the year 2016, ODH Group of Companie's corporate office is located in the Lucknow and spread across the country having its operations in major cities like New Delhi, Lucknow etc. ODH Group's primary business is development of residential, commercial & retail properties.The company works on a unique business model with earnings arising from developments & rentals. Its exposure across businesses, segments & geographies, mitigates any down cycle in the market. ODH Group has seen a dream of giving quality homes to the people of Kanpur, Lucknow and other places and that too at a reasonable cost and we are confident that we will achieve what we are striving for.</p>
                    </div>
                   
               @*     <!--Images Container-->
                    <div class="images-container clearfix">
                        <div class="image wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms"><a href="images/background/image-1.jpg" title="Image Cation Here" class="lightbox-image">
                            <img src="images/resource/image-thumb-1.jpg" alt=""></a></div>
                        <div class="image wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms"><a href="images/background/image-2.jpg" title="Image Cation Here" class="lightbox-image">
                            <img src="images/resource/image-thumb-2.jpg" alt=""></a></div>
                        <div class="image wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms"><a href="images/background/image-3.jpg" title="Image Cation Here" class="lightbox-image">
                            <img src="images/resource/image-thumb-3.jpg" alt=""></a></div>
                        <div class="image wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="30ms"><a href="images/background/image-1.jpg" title="Image Cation Here" class="lightbox-image">
                            <img src="images/resource/image-thumb-4.jpg" alt=""></a></div>
                        <div class="image wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="400ms"><a href="images/background/image-2.jpg" title="Image Cation Here" class="lightbox-image">
                            <img src="images/resource/image-thumb-5.jpg" alt=""></a></div>
                    </div>*@

                </div>
            </div>
            <!--End Right Column-->

        </div>
    </div>
      <!--Image Column-->
    <div class="image-column" style="background-image: url(/assets/images/background/image-3.jpg);">
        <div class="hidden-image">
            <img src="~/assets/images/background/image-3.jpg" alt=""></div>        
    </div>
</section>
<br />