@{
    ViewBag.Title = "homes";
}


  <!--======= BANNER =========-->
  <div class="sub-banner">
    <div class="overlay">
      <div class="container">
        <h1>ODH Homes</h1>
        <ol class="breadcrumb">
          <li class="pull-left">ODH Homes</li>
          <li><a href="../Home/Index">Home</a></li>
          <li class="active">ODH Homes</li>
        </ol>
      </div>
    </div>
  </div>
  
  
  <!--======= WHAT WE DO =========-->
  <section class="what-we-do">
    <div class="container"> 
      
      <!--======= TITTLE =========-->
      <div class="tittle"> <img src="~/Content/Home/img/head-top.png" alt="">
        <h3>ODH Homes Plan Layout</h3>
      </div>
      <div role="tabpanel"> 
        
        <!--======= NAV TABS =========-->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#what-we" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-bullhorn"></i> <span class="font-montserrat">PHASE-1</span></a></li>
          <li role="presentation"><a href="#mission" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-rocket"></i><span class="font-montserrat">PHASE-2</span></a></li>
          <li role="presentation"><a href="#vision" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-lightbulb-o"></i><span class="font-montserrat">PHASE-3</span></a></li>
        </ul>
        
        <!--======= TAB CONTENT =========-->
        <div class="tab-content">
        
        <!--======= phase1 =========-->
          <div role="tabpanel" class="tab-pane animated-6s flipInX active" id="what-we">
            <h4>LAYOUT PHASE-1</h4>
            <img width="100%" src="~/Content/Home/img/odh-homes-phase1.png" />
			</div>
          
          <!--======= phase2 =========-->
          <div role="tabpanel" class="tab-pane animated-6s flipInX" id="mission">
            <h4>LAYOUT PHASE-2</h4>
            <img width="100%" src="~/Content/Home/img/odh-homes-phase2.jpg" />
			</div>
          
          <!--======= phase3 =========-->
          <div role="tabpanel" class="tab-pane animated-6s flipInX" id="vision">
            <h4>LAYOUT PHASE-3</h4>
            <p>Comming soon</p>
			
          </div>
        </div>
      </div>
    </div>
  </section>
  

  
  <!--======= CALL US =========-->
  
  <section class="call-us">
    <div class="overlay">
      <div class="container">
        <ul class="row">
          <li class="col-sm-6">
            <h4>Do you want to buy your property ?</h4>
            <h6>Call us and get your property here</h6>
          </li>
          <li class="col-sm-4">
            <h1>+91-7408579797 </h1>
          </li>
          <li class="col-sm-2 no-padding"> <a href="http://odhdevelopers.com/../Home/Index/functions/plotavailability" class="btn">just contact us</a> </li>
        </ul>
      </div>
    </div>
  </section>

  
 