
﻿@{
    ViewBag.Title = "Investment";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<section class="page-title" style="background-image: url(/assets/images/background/bg-page-title.jpg);">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Title -->
            <div class="title-column col-md-7 col-sm-6 col-xs-12">
                <h1>Investment</h1>
            </div>
            <!--Bread Crumb -->
            <div class="breadcrumb-column col-md-5 col-sm-6 col-xs-12">
                <ul class="bread-crumb clearfix">
                     <li><a href="../Home/Index">Home</a></li>
                    <li class="active">Investment</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="agent-section have-border-top">
    <div class="auto-container">
        <!--Section Title-->
        <div class="sec-title">
           
        </div>
        <div class="outer-box">
            <figure class="agent-image wow bounceInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                <img src="~/assets/images/background/investment.jpeg" alt=""></figure>
            <div class="content-box" style="background-image: url(~/assets/images/background/investment.jpeg);">
                <div class="title-box">
                    <h2><strong>Investment</strong></h2>
                </div>
                <div class="text-justify" >
                    <p>As players in the dynamic property market and are able to competently advise our clients on when, where and what to buy in order to reap quality returns on their investment based on sound facts about market indices and trends. We keep abreast of all Government policies and market indices affecting land and landed properties to prevent our clients from making wrong investment decisions.
We also provide consultancy services to clients interested in acquisition of large tracts of land for site and services schemes.
</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<style>
    .agent-section .outer-box .content-box:before
    {
        background-color:#375882;
    }

</style>
