@{
    ViewBag.Title = "Legal";
    Layout = "~/Views/Shared/_LayoutNew1.cshtml";
}


<!--===== HERO AREA STARTS =======-->
<div class="hero-inner-section-area-sidebar">
    <img src="~/assetshome/img/all-images/hero/hero-img1.png" alt="housebox" class="hero-img1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero-header-area text-center">
                    <a href="index.html">
                        Home <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path>
                        </svg>Legel
                    </a>
                    <div class="space24"></div>
                    <h1>Legel</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== HERO AREA ENDS =======-->
<!--===== PROJECT AREA STARTS =======-->
<div class="project1-section-area sp2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="project-heading heading1 space-margin60 text-center">
                    <h5>Legal </h5>
                    <div class="space20"></div>
                    <h2 class="text-anime-style-3">See How Realton Can Help</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="800">
                <div class="project-featured-box">
                    <div class="img1">
                        <img src="~/assetshome/img/all-images/project/project-img1.png" alt="housebox">
                    </div>
                    <div class="space40"></div>
                    <a href="property-details-v1" class="head">Buying A Home</a>
                    <div class="space16"></div>
                    <p>At R. G Groups, we know that buying a home is one life’s biggest milestones. Our experienced team is here to guide you through every step home.</p>
                    <div class="space24"></div>
                    <div class="btn-area1">
                        <a href="contact" class="theme-btn1" style="color:black">
                            Buy A Property <span class="arrow1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                                    <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                </svg>
                            </span><span class="arrow2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                                    <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1000">
                <div class="project-featured-box">
                    <div class="img1">
                        <img src="~/assetshome/img/all-images/project/project-img2.png" alt="housebox">
                    </div>
                    <div class="space40"></div>
                    <a href="property-details-v1" class="head">Sell A Home</a>
                    <div class="space16"></div>
                    <p>Selling your home doesn’t have to be overwhelming. With R .G Groups, our dedicated experts will make process smooth, stress-free, and rewarding.</p>
                    <div class="space24"></div>
                    <div class="btn-area1">
                        <a href="contact" class="theme-btn1" style="color:black">
                            Buy A Property <span class="arrow1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                                    <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                </svg>
                            </span><span class="arrow2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                                    <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1200">
                <div class="project-featured-box">
                    <div class="img1">
                        <img src="~/assetshome/img/all-images/project/project-img3.png" alt="housebox">
                    </div>
                    <div class="space40"></div>
                    <a href="property-details-v1" class="head">Rent A Home</a>
                    <div class="space16"></div>
                    <p>Finding the right rental property is easy with R.G.Groups Whether you’re seeking a cozy apartment spacious home, we offer a variety of options.</p>
                    <div class="space24"></div>
                    <div class="btn-area1">
                        <a href="contact" class="theme-btn1" style="color:black">
                            Buy A Property <span class="arrow1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                                    <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                </svg>
                            </span><span class="arrow2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                                    <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== PROJECT AREA ENDS =======-->
<!--===== TESTIMONIAL AREA STARTS =======-->
<div class="testimonial1-section-area sp1" style="background-image: url(/assetshome/img/all-images/bg/bg1.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="testimonial-header space-margin60 heading1">
                    <h5 data-aos="fade-left" data-aos-duration="800">feedback/testimonial</h5>
                    <div class="space20"></div>
                    <h2 class="text-anime-style-3">A Legacy Of Happy Clients</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="testimonialmain-slider">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="images-area2 slider2">
                                <div class="img1 image-anime">
                                    <img src="~/assetshome/img/all-images/testimonial/testimonial-img1.png" alt="housebox">
                                </div>
                                <div class="img1 image-anime">
                                    <img src="~/assetshome/img/all-images/testimonial/testimonial-img1.png" alt="housebox">
                                </div>
                                <div class="img1 image-anime">
                                    <img src="~/assetshome/img/all-images/testimonial/testimonial-img1.png" alt="housebox">
                                </div>
                                <div class="img1 image-anime">
                                    <img src="~/assetshome/img/all-images/testimonial/testimonial-img1.png" alt="housebox">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="testimonial-slider-area slider1">
                                <div class="testimonial-box">
                                    <img src="~/assetshome/img/icons/quoto-icon1.svg" alt="housebox">
                                    <div class="space16"></div>
                                    <p>"When I decided to sell my home, I was overwhelmed with where to start. R.G.Groups stepped in with a clear plan, professional marketing, constant communicate. Within two weeks, my house was sold above asking.”</p>
                                    <div class="space32"></div>
                                    <div class="test-images">
                                        <div class="auhtor-area">
                                            <div class="img1">
                                                <img src="~/assetshome/img/all-images/testimonial/testimonial-img2.png" alt="housebox">
                                            </div>
                                            <div class="text">
                                                <a href="#">Shakib Mahmud</a>
                                                <div class="space10"></div>
                                                <p>Happy Client</p>
                                            </div>
                                        </div>
                                        <img src="~/assetshome/img/elements/brand1.png" alt="housebox" class="brand1">
                                    </div>
                                </div>
                                <div class="testimonial-box">
                                    <img src="~/assetshome/img/icons/quoto-icon1.svg" alt="housebox">
                                    <div class="space16"></div>
                                    <p>"Selling our home felt like a huge challenge until we found. Their team guided us every step of the way, from staging the property to negotiating offers. Within days, our home was sold for more than we expected."</p>
                                    <div class="space32"></div>
                                    <div class="test-images">
                                        <div class="auhtor-area">
                                            <div class="img1">
                                                <img src="~/assetshome/img/all-images/testimonial/testimonial-img3.png" alt="housebox">
                                            </div>
                                            <div class="text">
                                                <a href="#">Xavi Alonso</a>
                                                <div class="space10"></div>
                                                <p>Happy Client</p>
                                            </div>
                                        </div>
                                        <img src="~/assetshome/img/elements/brand1.png" alt="housebox" class="brand1">
                                    </div>
                                </div>

                                <div class="testimonial-box">
                                    <img src="~/assetshome/img/icons/quoto-icon1.svg" alt="housebox">
                                    <div class="space16"></div>
                                    <p>"We were first-time buyers, and the process seemed daunting. made everything so simple and stress-free. They listened to our needs, showed us perfect options"</p>
                                    <div class="space32"></div>
                                    <div class="test-images">
                                        <div class="auhtor-area">
                                            <div class="img1">
                                                <img src="~/assetshome/img/all-images/testimonial/testimonial-img4.png" alt="housebox">
                                            </div>
                                            <div class="text">
                                                <a href="#">Granit Xhaka</a>
                                                <div class="space10"></div>
                                                <p>Happy Client</p>
                                            </div>
                                        </div>
                                        <img src="~/assetshome/img/elements/brand1.png" alt="housebox" class="brand1">
                                    </div>
                                </div>

                                <div class="testimonial-box">
                                    <img src="~/assetshome/img/icons/quoto-icon1.svg" alt="housebox">
                                    <div class="space16"></div>
                                    <p>"I relocated for work and needed to sell my house quickly. R.G.Groups delivered! They handled everything smoothly, and I could focus on my move without worry. I highly recommend their services."</p>
                                    <div class="space32"></div>
                                    <div class="test-images">
                                        <div class="auhtor-area">
                                            <div class="img1">
                                                <img src="~/assetshome/img/all-images/testimonial/testimonial-img5.png" alt="housebox">
                                            </div>
                                            <div class="text">
                                                <a href="#">Alex Garcia</a>
                                                <div class="space10"></div>
                                                <p>Happy Client</p>
                                            </div>
                                        </div>
                                        <img src="~/assetshome/img/elements/brand1.png" alt="housebox" class="brand1">
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-arrows">
                                <div class="prev-arrow">
                                    <button><i class="fa-solid fa-angle-left"></i></button>
                                </div>
                                <div class="next-arrow">
                                    <button><i class="fa-solid fa-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== TESTIMONIAL AREA ENDS =======-->
<!--===== CTA AREA STARTS =======-->
<div class="cta1-section-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta-bg-area"
                     style="background-image: url(/assetshome/img/all-images/bg/background.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="cta-header">
                                <h2 class="text-anime-style-3">Step Into Your Dream Home with R.G.A</h2>
                                <div class="space16"></div>
                                <p data-aos="fade-left" data-aos-duration="1000">
                                    At R.G.A, we believe your next home is more than just a
                                    place – it’s where your future begins you’re buy.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5" data-aos="zoom-in" data-aos-duration="1000">
                            <div class="btn-area1 text-center">
                                <a href="projects.html" class="theme-btn1">
                                    Find Your Dream Home <span class="arrow1">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                                            <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                        </svg>
                                    </span><span class="arrow2">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                             width="24" height="24" fill="currentColor">
                                            <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== CTA AREA ENDS =======-->