@{
    ViewBag.Title = "management";
}

 <!--======= BANNER =========-->
  <div class="sub-banner" style="background-image:url('../Content/Home/img/vision-banner-1000x_.jpg')">
    <div class="overlay">
      <div class="container">
        <h1>Management</h1>
        <ol class="breadcrumb">
          <li class="pull-left">Management</li>
          <li><a href="../Home/Index">Home</a></li>
          <li class="active">Management</li>
        </ol>
      </div>
    </div>
  </div>
  
  
  <!--======= WHAT WE DO =========-->
  <section class="properti-detsil">
    <div class="container">
      <div class="row"> 
        
        <!--======= LEFT BAR =========-->
        <div class="col-sm-12">
          <div class="single-post"> 
            <!--======= CLIENTS FEEDBACK =========-->
            
            <div class="blog-page">
              <section class="blog no-padding">
      
      <!--======= TITTLE =========-->
      
        <div class="admin-info">
            <ul>
               <!--======= ABOUT AUTHER =========-->
              <li class="col-xs-12">
              <h3>Mr. Deepanker Kushwaha</h3>
                <h5 class="text-uppercase no-margin">Managing Director</h5>
                <br>
                <p>He keen eye for Market detail and varied expertise in Real Estate Industry, he also heads the sales and marketing division at ODH Group. His portfolio also includes identification of new business avenues, pre-sales, business modeling as well as managing ODH Group's invaluable Alliances and Partners.</p>
                
              </li>
              <li class="col-xs-12">
              <h3>Ahilya Devi</h3>
                <h5 class="text-uppercase no-margin">Director</h5>
                <br>
                <p>She takes care of Administration of the Group. She is energetic and got expertise in maintaining Core values of the Group.</p>
                
              </li>
            </ul>
          </div>
        </section></div></div></div></div>
      
    </div>
  </section>
  

