﻿@{
    ViewBag.Title = "mission";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<section class="page-title" style="background-image: url(/assets/images/background/bg-page-title.jpg);">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Title -->
            <div class="title-column col-md-7 col-sm-6 col-xs-12">
                <h1>Our Mission</h1>
            </div>
            <!--Bread Crumb -->
            <div class="breadcrumb-column col-md-5 col-sm-6 col-xs-12">
                <ul class="bread-crumb clearfix">
                    <li><a href="../Home/Index">Home</a></li>
                    <li class="active">Our Mission</li>
                </ul>
            </div>
        </div>
    </div>
</section>



<div class="agent-section have-border-top">
    <div class="auto-container">
        <!--Section Title-->
        <div class="sec-title">
           
        </div>
        <div class="outer-box">
            <figure class="agent-image wow bounceInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                <img src="~/assets/images/background/mission.jpg" alt=""></figure>
            <div class="content-box" style="background-image: url(~/assets/images/background/mission.jpg);background:wheat;">
                <div class="title-box">
                    <h2><strong>Mission</strong></h2>
                </div>
                <div class="text-justify" >
                    <p>To fulfill your dream of buying a home of superior design and quality at reasonable prices. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<style>
   .agent-section .outer-box .content-box:before
    {
        background:#375882;
    }

</style>
