@{
    ViewBag.Title = "OurBankers";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<section class="page-title" style="background-image: url(/assets/images/background/bg-page-title.jpg);">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Title -->
            <div class="title-column col-md-7 col-sm-6 col-xs-12">
                <h1>Our Bankers</h1>
            </div>
            <!--Bread Crumb -->
            <div class="breadcrumb-column col-md-5 col-sm-6 col-xs-12">
                <ul class="bread-crumb clearfix">
                     <li><a href="../Home/Index">Home</a></li>
                    <li class="active">Our Bankers</li>
                </ul>
            </div>
        </div>
    </div>
</section>
 <section class="blog-news-section">
        <div class="auto-container"> 
            <div class="row clearfix">
            	
                <!--BLog News COlumn-->
                <div class="blog-news-column col-md-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
                	
                    <div class="inner-box hvr-float-shadow">
                    	<figure class="image-box"><a href="#"><img src="~/assets/images/resource/icici.jpg" style="height:200px;width: 379px; box-shadow:5px 5px 5px 5px #888888; " alt=""></a></figure>
                        <div class="post-content"  style="margin-top: 1px; margin-left: 0px; margin-right:-10px; box-shadow:5px 5px 5px 5px #888888;">                        	
                            <h3 class="text-primary">Account Name:</h3>ODH DEVELOPERS PVT LTD <br />
                              <b class="text-primary">A/C. NO. :</b> 104605001069 <br />
                           <b class="text-primary">IFSC CODE : </b><span class="text-bold">ICIC0004079 </span>
                        </div>
                    </div>
                </div>
                
                <!--BLog News COlumn-->
                <div class="blog-news-column col-md-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="300ms">
                	<div class="inner-box hvr-float-shadow">
                    	<figure class="image-box"><a href="#"><img src="~/assets/images/resource/indus.jpg" style="height:200px;width: 379px; box-shadow:5px 5px 5px 5px #888888;" alt=""></a></figure>
                       <div class="post-content" style="margin-top: 1px;  margin-left: 0px; margin-right:-10px; box-shadow:5px 5px 5px 5px #888888;">                        	
                            <h3 class="text-primary">Account Name:</h3>ODH DEVELOPERS PVT LTD <br />
                              <b class="text-primary">A/C. NO. :</b> 201001505543 <br />
                           <b class="text-primary">IFSC CODE : </b><span class="text-bold">INDB0000041 </span>
                        </div>
                    </div>
                </div>
                
                <!--BLog News COlumn-->
                <div class="blog-news-column col-md-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="600ms">
                	<div class="inner-box hvr-float-shadow">
                    	<figure class="image-box"><a href="#"><img src="~/assets/images/resource/UBI.jpg" style="height:200px;width: 379px; box-shadow:5px 5px 5px 5px #888888;" alt=""></a></figure>
                         <div class="post-content"  style="margin-top: 1px;  margin-left: 0px; margin-right:-10px;box-shadow:5px 5px 5px 5px #888888;">                        	
                            <h3 class="text-primary">Account Name:</h3>ODH DEVELOPERS PVT LTD <br />
                              <b class="text-primary">A/C. NO. :</b> 1617050001816 <br />
                           <b class="text-primary">IFSC CODE : </b><span class="text-bold">UTBI0AZR579 </span>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
    
