@{
    ViewBag.Title = "OurTeam";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<section class="page-title" style="background-image: url(/assets/images/background/bg-page-title.jpg);">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Title -->
            <div class="title-column col-md-7 col-sm-6 col-xs-12">
                <h1>Team</h1>
            </div>
            <!--Bread Crumb -->
            <div class="breadcrumb-column col-md-5 col-sm-6 col-xs-12">
                <ul class="bread-crumb clearfix">
                     <li><a href="../Home/Index">Home</a></li>
                    <li class="active">Team</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="agent-section have-border-top">
    <div class="auto-container">
        <!--Section Title-->
        <div class="sec-title">
           
        </div>
        <div class="outer-box">
            <figure class="agent-image wow bounceInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                <img src="~/assets/images/background/agent-image-1.png" alt=""></figure>
            <div class="content-box" style="background-image: url(/assets/images/background/image-4.jpg);">
                <div class="title-box">
                    <h2><strong>Team</strong></h2>

                </div>
                <div class="text-justify" >
                    Working together is essential. Harmony and a positive attitude are critical to success. Without synergy and devoted teamwork our goals will remain unattainable. We at ODH highly appreciate talent and we continuously work to explore personal potential and to reward outstanding achievement.

                    <p>Our highly committed team is the company's backbone and the catalyst of its success, creating and driving the trust in the ODH brand.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
