@{
    ViewBag.Title = "Service";
}

  <!--======= BANNER =========-->
  <div class="sub-banner" style="background-image:url('../Content/Home/img/real-banner.jpg')">
    <div class="overlay">
      <div class="container">
        <h1>Service</h1>
        <ol class="breadcrumb">
          <li class="pull-left">Service</li>
          <li><a href="../Home/Index">Home</a></li>
          <li class="active">Service</li>
        </ol>
      </div>
    </div>
  </div>






                <section class="slice bg-white">
                    <div class="wp-section">
                        <div class="container">
                              <div class="row">
            <div class="col-md-6">
                 <div class="listing-image">
                                                <img src="~/Content/Home/img/w11.jpg" style="height:300px;width:100%" alt="">
                                            </div></div>
             <div class="col-md-6">         <h3><a href="#">Dynamic Gold A</a></h3>

                                                <p style="text-align:justify">
                                                    Dynamic Gold A is a participating non-linked savings cum protection Plan, where premium is paid in lump sum at the outset of the policy. This combination provides financial protection against death during the policy term with the provision of payment of lumpsum at the end of the selected policy term in case of his/her survival. This Plan also takes care of liquidity needs through its loan facility.
                                                </p>
                 

                                            </div></div>
                            
                            <div class="row">
            
             <div class="col-md-6">        <h3><a href="#">Paradise Dream</a></h3>

                                                <p style="text-align:justify">
                                                    Paradise Dream is a participating non-linked Plan which offers an attractive combination of protection against death throughout the term of the plan along with the periodic payment on survival at specified durations during the term. This unique combination provides financial support for the family of the deceased customer any time before maturity and lump sum amount at the time of maturity for the surviving customers. This Plan also takes care of liquidity needs through its loan facility.
                                                </p>

                                            </div>
                                <div class="col-md-6"> <div class="listing-image">
                                               <img src="~/Content/Home/img/service.png" style="height:300px;width:100%"/>
                                            </div></div>
                            </div>
                            <div class="row">
            <div class="col-md-6"> <div class="listing-image">
                                                <div id="basicCarousel" class="carousel carousel-4 slide color-two-l" data-ride="carousel">
                                                    <!-- Indicators -->
                                                    <ol class="carousel-indicators">
                                                        <li data-target="#basicCarousel" data-slide-to="0" class="active"></li>
                                                        <li data-target="#basicCarousel" data-slide-to="1" class="active"></li>
                                                    </ol>

                                                    <div class="carousel-inner">
                                                        <div class="item item-dark active">
                                                            <img src="~/Content/Home/img/fdd.jpg" height="250" alt="" class="img-responsive" style="height:300px;width:100%">
                                                        </div>
                                                        <div class="item item-dark">
                                                            <img src="~/Content/Home/img/fddd.png" height="250" alt="" class="img-responsive" style="height:300px;width:100%">
                                                        </div>
                                                    </div>

                                                    <!-- Controls -->
                                                 @*   <a class="left carousel-control" href="#basicCarousel" data-slide="prev">
                                                        <i class="fa fa-angle-left"></i>
                                                    </a>
                                                    <a class="right carousel-control" href="#basicCarousel" data-slide="next">
                                                        <i class="fa fa-angle-right"></i>
                                                    </a>*@
                                                </div>
                                            </div></div>
             <div class="col-md-6">     <div class="listing-body">
                                                <h3><a href="#">Other benefits</a></h3>
                                                <ul>
                                                    <li>Assistance when you need our help</li>
                                                    <li>Realistic and truthful information about your Plan</li>
                                                    <li>Person to person knowledgeable advice.</li>
                                                    <li>Prior information about your installment and collecting the same.</li>

                                                </ul>


                                            </div>

                                            </div></div>
        </div>
                            
                        </div>
                    
                </section>