@{
    ViewBag.Title = "values";
}

  
  <!--======= BANNER =========-->
  <div class="sub-banner" style="background-image:url('../Content/Home/img/real-banner.jpg')">
    <div class="overlay">
      <div class="container">
        <h1>Values</h1>
        <ol class="breadcrumb">
          <li class="pull-left">Values</li>
          <li><a href="../Home/Index">Home</a></li>
          <li class="active">Values</li>
        </ol>
      </div>
    </div>
  </div>
  
  
  <!--======= WHAT WE DO =========-->
  <section class="properti-detsil">
    <div class="container">
      <div class="row"> 
        
        <!--======= LEFT BAR =========-->
        <div class="col-sm-12">
          <div class="single-post"> 
            <!--======= CLIENTS FEEDBACK =========-->
            
            <div class="blog-page">
              <section class="blog no-padding">
      
      <!--======= TITTLE =========-->
      
        <div class="admin-info">
            <ul>
               <!--======= ABOUT AUTHER =========-->
              <li class="col-xs-12">
              <h3>Values</h3>
                <br>
                <p>We work hard with sustained effort and always look forward to achieving the highest levels of leadership, integrity and excellence. We are keen to provide the best standards of service to ensure our customers' satisfaction. Constant improvement, innovation and growth, celebration of individual success, respect of individual success, respect for each individual and working for mutual opportunities and fulfillment are our core values that distinguish us from others.</p>
                
              </li>
            </ul>
          </div>
        </section></div></div></div></div>
      
    </div>
  </section>
  

  
  <!--======= CALL US =========-->
  
  <section class="call-us">
    <div class="overlay">
      <div class="container">
        <ul class="row">
          <li class="col-sm-6">
            <h4>Do you want to buy your property ?</h4>
            <h6>Call us and get your property here</h6>
          </li>
          <li class="col-sm-4">
            <h1>+91-7408579797 </h1>
          </li>
          <li class="col-sm-2 no-padding"> <a href="http://odhdevelopers.com/../Home/Index/functions/plotavailability" class="btn">Book Now</a> </li>
        </ul>
      </div>
    </div>
  </section>

 