@{
    ViewBag.Title = "Value";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<section class="page-title" style="background-image: url(/assets/images/background/bg-page-title.jpg);">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Title -->
            <div class="title-column col-md-7 col-sm-6 col-xs-12">
                <h1>Value</h1>
            </div>
            <!--Bread Crumb -->
            <div class="breadcrumb-column col-md-5 col-sm-6 col-xs-12">
                <ul class="bread-crumb clearfix">
                    <li><a href="../Home/Index">Home</a></li>
                    <li class="active">Value</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="blog-news-section">
    <!--BLog News Column-->
    <div class="blog-news-column">
        <div class="inner-box">           
            <div class="post-content">               
                <h2><a href="#">Value </a></h2>
                <div class="text-justify" style="color:black;">We work hard with sustained effort and always look forward to achieving the highest levels of leadership, integrity and excellence. We are keen to provide the best standards of service to ensure our customers' satisfaction. Constant improvement, innovation and growth, celebration of individual success, respect of individual success, respect for each individual and working for mutual opportunities and fulfillment are our core values that distinguish us from others.</div>
               
            </div>
        </div>
    </div>
</section>
